header{
  background-color: darkblue;
  text-align:center;
}
header h1{color:white;}
.heading{font-size: 25px; padding-bottom: 0px; color: red; font-weight: 900;}
.a{margin-left: 25px; margin-top: 5px;}
.b{margin-left: 25px; margin-top: 5px; margin-bottom: 5px;}
.c{margin-left: 25px; margin-bottom: 5px; margin-top: 20px;}
.d{margin-left: 25px; margin-top: 5px; margin-bottom: 5px;}
.e{margin-left: 25px; margin-top: 10px; margin-bottom: 5px;}
.f{margin-left: 25px; margin-top: 5px; margin-bottom: 5px;}
.g{margin: 6px 25px;}
.li{width:33%; float:left;}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}











